:root {
  --fui-color-blue-50: #F0F4FF;
  --fui-color-blue-100: #E5EBFE;
  --fui-color-blue-200: #CDD9FE;
  --fui-color-blue-300: #91ACFD;
  --fui-color-blue-650: #6187FA;
  --fui-color-blue-750: #3D69F2;
  --fui-color-blue-800: #2856E0;
  --fui-color-blue-850: #1D4BD6;
  --fui-color-blue-950: #152E7A;
  --fui-color-blue-1000: #111F49;

  --fui-color-brown-700: #DB850B;
  --fui-color-brown-800: #B26C09;
  --fui-color-brown-850: #965E0F;
  --fui-color-brown-900: #80500D;
  --fui-color-brown-950: #66420F;

  --fui-color-green-50: #EDFDF6;
  --fui-color-green-100: #D1FAE9;
  --fui-color-green-200: #A5F3D2;
  --fui-color-green-300: #6EE7B5;
  --fui-color-green-600: #36D392;
  --fui-color-green-700: #08A464;
  --fui-color-green-800: #088752;
  --fui-color-green-850: #047244;
  --fui-color-green-900: #06603A;
  --fui-color-green-950: #064C2F;

  --fui-color-neutral-50: #F5F6F9;
  --fui-color-neutral-100: #E9ECF5;
  --fui-color-neutral-200: #DFE2EB;
  --fui-color-neutral-350: #BDBFC7;
  --fui-color-neutral-750: #5C5D61;
  --fui-color-neutral-800: #47484D;
  --fui-color-neutral-850: #38393D;
  --fui-color-neutral-900: #2F2F33;
  --fui-color-neutral-950: #171719;
  --fui-color-neutral-1000: #0B0B0D;

  --fui-color-purple-50: #F7F5FF;
  --fui-color-purple-100: #EDE7FE;
  --fui-color-purple-200: #E1D7FE;
  --fui-color-purple-300: #C6B4FD;
  --fui-color-purple-700: #A689FA;
  --fui-color-purple-750: #9370FA;
  --fui-color-purple-800: #714CE0;
  --fui-color-purple-850: #5F35DE;
  --fui-color-purple-900: #4621B5;
  --fui-color-purple-950: #3B1D95;

  --fui-color-red-50: #FEF1F1;
  --fui-color-red-100: #FEE1E1;
  --fui-color-red-200: #FEC8C8;
  --fui-color-red-300: #FCA6A6;
  --fui-color-red-650: #F87272;
  --fui-color-red-750: #EF4343;
  --fui-color-red-800: #E02D3C;
  --fui-color-red-850: #BA2532;
  --fui-color-red-900: #981B25;
  --fui-color-red-950: #680D14;

  --fui-color-yellow-50: #FFFAEB;
  --fui-color-yellow-100: #FFF5D6;
  --fui-color-yellow-200: #FEE9A9;
  --fui-color-yellow-300: #FDDA72;
  --fui-color-yellow-550: #FBCB3C;
}