:root {
  --fui-color-blue-100: #F0F4FFFF;
  --fui-color-blue-200: #E5EBFEFF;
  --fui-color-blue-300: #CDD9FEFF;
  --fui-color-blue-400: #91ACFDFF;
  --fui-color-blue-500: #6187FAFF;
  --fui-color-blue-600: #3D69F2FF;
  --fui-color-blue-700: #2856E0FF;
  --fui-color-blue-800: #1D4BD6FF;
  --fui-color-blue-900: #152E7AFF;
  --fui-color-blue-1000: #111F49FF;
  --fui-color-brown-600: #DB850BFF;
  --fui-color-brown-700: #B26C09FF;
  --fui-color-brown-800: #965E0FFF;
  --fui-color-brown-900: #80500DFF;
  --fui-color-brown-1000: #66420FFF;
  --fui-color-green-100: #EDFDF6FF;
  --fui-color-green-200: #D1FAE9FF;
  --fui-color-green-300: #A5F3D2FF;
  --fui-color-green-400: #6EE7B5FF;
  --fui-color-green-500: #36D392FF;
  --fui-color-green-600: #08A464FF;
  --fui-color-green-700: #088752FF;
  --fui-color-green-800: #047244FF;
  --fui-color-green-900: #06603AFF;
  --fui-color-green-1000: #064C2FFF;
  --fui-color-neutral-100: #FAFAFAFF;
  --fui-color-neutral-200: #F5F5F5FF;
  --fui-color-neutral-300: #EBEBEBFF;
  --fui-color-neutral-400: #C7C7C7FF;
  --fui-color-neutral-500: #616161FF;
  --fui-color-neutral-600: #4D4D4DFF;
  --fui-color-neutral-700: #3D3D3DFF;
  --fui-color-neutral-800: #333333FF;
  --fui-color-neutral-900: #191919FF;
  --fui-color-neutral-1000: #000000FF;
  --fui-color-purple-100: #F7F5FFFF;
  --fui-color-purple-200: #EDE7FEFF;
  --fui-color-purple-300: #E1D7FEFF;
  --fui-color-purple-400: #C6B4FDFF;
  --fui-color-purple-500: #A689FAFF;
  --fui-color-purple-600: #9370FAFF;
  --fui-color-purple-700: #714CE0FF;
  --fui-color-purple-800: #5F35DEFF;
  --fui-color-purple-900: #4621B5FF;
  --fui-color-purple-1000: #3B1D95FF;
  --fui-color-red-100: #FEF1F1FF;
  --fui-color-red-200: #FEE1E1FF;
  --fui-color-red-300: #FEC8C8FF;
  --fui-color-red-400: #FCA6A6FF;
  --fui-color-red-500: #F87272FF;
  --fui-color-red-600: #EF4343FF;
  --fui-color-red-700: #E02D3CFF;
  --fui-color-red-800: #BA2532FF;
  --fui-color-red-900: #981B25FF;
  --fui-color-red-1000: #680D14FF;
  --fui-color-yellow-100: #FFFAEBFF;
  --fui-color-yellow-200: #FFF5D6FF;
  --fui-color-yellow-300: #FEE9A9FF;
  --fui-color-yellow-400: #FDDA72FF;
  --fui-color-yellow-500: #FBCB3CFF;
}