:root {
  --fui-color-background-base: #FFFFFFFF;
  --fui-color-background-contrast: var(--fui-color-neutral-900);
  --fui-color-background-elevated: #FFFFFFFF;
  --fui-color-background-opaque: #00000019;
  --fui-color-background-subdued: var(--fui-color-neutral-200);
  --fui-color-background-white: #FFFFFFFF;
  --fui-color-badge-blue-bg: var(--fui-color-blue-200);
  --fui-color-badge-blue-border: var(--fui-color-blue-400);
  --fui-color-badge-blue-text: var(--fui-color-blue-600);
  --fui-color-badge-green-bg: var(--fui-color-green-200);
  --fui-color-badge-green-border: var(--fui-color-green-400);
  --fui-color-badge-green-text: var(--fui-color-green-600);
  --fui-color-badge-neutral-bg: var(--fui-color-neutral-200);
  --fui-color-badge-neutral-border: var(--fui-color-neutral-400);
  --fui-color-badge-neutral-text: var(--fui-color-neutral-500);
  --fui-color-badge-purple-bg: var(--fui-color-purple-200);
  --fui-color-badge-purple-border: var(--fui-color-purple-400);
  --fui-color-badge-purple-text: var(--fui-color-purple-600);
  --fui-color-badge-red-bg: var(--fui-color-red-200);
  --fui-color-badge-red-border: var(--fui-color-red-400);
  --fui-color-badge-red-text: var(--fui-color-red-600);
  --fui-color-badge-yellow-bg: var(--fui-color-yellow-200);
  --fui-color-badge-yellow-border: var(--fui-color-yellow-400);
  --fui-color-badge-yellow-text: var(--fui-color-brown-600);
  --fui-color-button-secondary-bg-destructive: var(--fui-color-red-100);
  --fui-color-button-secondary-bg-neutral: var(--fui-color-blue-100);
  --fui-color-button-secondary-bg-success: var(--fui-color-green-100);
  --fui-color-button-secondary-border-destructive: var(--fui-color-red-200);
  --fui-color-button-secondary-border-neutral: var(--fui-color-blue-200);
  --fui-color-button-secondary-border-success: var(--fui-color-green-200);
  --fui-color-disabled-bg: var(--fui-color-neutral-200);
  --fui-color-disabled-divider: var(--fui-color-neutral-300);
  --fui-color-disabled-text: var(--fui-color-neutral-400);
  --fui-color-divider-soft: var(--fui-color-neutral-300);
  --fui-color-divider-solid: var(--fui-color-neutral-400);
  --fui-color-status-attention: var(--fui-color-brown-700);
  --fui-color-status-attention-subtle: var(--fui-color-yellow-200);
  --fui-color-status-danger: var(--fui-color-red-700);
  --fui-color-status-danger-subtle: var(--fui-color-red-200);
  --fui-color-status-info: var(--fui-color-purple-700);
  --fui-color-status-info-subtle: var(--fui-color-purple-200);
  --fui-color-status-success: var(--fui-color-green-700);
  --fui-color-status-success-subtle: var(--fui-color-green-200);
  --fui-color-state-active: #00000026;
  --fui-color-state-focus: var(--fui-color-blue-400);
  --fui-color-state-hover: #00000019;
  --fui-color-surface-base: #FFFFFFFF;
  --fui-color-surface-subdued: var(--fui-color-neutral-100);
  --fui-color-foreground-default: var(--fui-color-neutral-900);
  --fui-color-foreground-inverted: var(--fui-color-neutral-100);
  --fui-color-foreground-light: #FFFFFFFF;
  --fui-color-foreground-opaque: #0000007F;
  --fui-color-foreground-primary: var(--fui-color-brand);
  --fui-color-foreground-soft: var(--fui-color-neutral-600);
  --fui-color-foreground-softest: var(--fui-color-neutral-400);
  --fui-color-brand: var(--fui-color-blue-700);
  --fui-color-icon: var(--fui-color-neutral-800);
  --fui-color-button-primary-bg-destructive: var(--fui-color-red-700);
  --fui-color-button-primary-bg-neutral: var(--fui-color-brand);
  --fui-color-button-primary-bg-success: var(--fui-color-green-700);
}

[data-theme="dark"],
[data-theme="dark"] * {
  --fui-color-background-base: var(--fui-color-neutral-800);
  --fui-color-background-contrast: var(--fui-color-neutral-100);
  --fui-color-background-elevated: var(--fui-color-neutral-700);
  --fui-color-background-opaque: #FFFFFF19;
  --fui-color-background-subdued: var(--fui-color-neutral-1000);
  --fui-color-background-white: #FFFFFF;
  --fui-color-badge-blue-bg: var(--fui-color-blue-1000);
  --fui-color-badge-blue-border: var(--fui-color-blue-700);
  --fui-color-badge-blue-text: var(--fui-color-blue-500);
  --fui-color-badge-green-bg: var(--fui-color-green-1000);
  --fui-color-badge-green-border: var(--fui-color-green-700);
  --fui-color-badge-green-text: var(--fui-color-green-500);
  --fui-color-badge-neutral-bg: var(--fui-color-neutral-800);
  --fui-color-badge-neutral-border: var(--fui-color-neutral-600);
  --fui-color-badge-neutral-text: var(--fui-color-neutral-400);
  --fui-color-badge-purple-bg: var(--fui-color-purple-1000);
  --fui-color-badge-purple-border: var(--fui-color-purple-700);
  --fui-color-badge-purple-text: var(--fui-color-purple-500);
  --fui-color-badge-red-bg: var(--fui-color-red-1000);
  --fui-color-badge-red-border: var(--fui-color-red-700);
  --fui-color-badge-red-text: var(--fui-color-red-500);
  --fui-color-badge-yellow-bg: var(--fui-color-brown-1000);
  --fui-color-badge-yellow-border: var(--fui-color-brown-700);
  --fui-color-badge-yellow-text: var(--fui-color-yellow-500);
  --fui-color-divider-soft: var(--fui-color-neutral-600);
  --fui-color-divider-solid: var(--fui-color-neutral-500);
  --fui-color-button-secondary-bg-destructive: var(--fui-color-background-elevated);
  --fui-color-button-secondary-bg-neutral: var(--fui-color-background-elevated);
  --fui-color-button-secondary-bg-success: var(--fui-color-background-elevated);
  --fui-color-button-secondary-border-destructive: var(--fui-color-divider-soft);
  --fui-color-button-secondary-border-neutral: var(--fui-color-divider-soft);
  --fui-color-button-secondary-border-success: var(--fui-color-divider-soft);
  --fui-color-disabled-bg: var(--fui-color-neutral-700);
  --fui-color-disabled-divider: var(--fui-color-neutral-600);
  --fui-color-disabled-text: var(--fui-color-neutral-500);
  --fui-color-status-attention: var(--fui-color-brown-600);
  --fui-color-status-attention-subtle: var(--fui-color-brown-1000);
  --fui-color-status-danger: var(--fui-color-red-600);
  --fui-color-status-danger-subtle: var(--fui-color-red-1000);
  --fui-color-status-info: var(--fui-color-purple-600);
  --fui-color-status-info-subtle: var(--fui-color-purple-1000);
  --fui-color-status-success: var(--fui-color-green-600);
  --fui-color-status-success-subtle: var(--fui-color-green-1000);
  --fui-color-state-active: #FFFFFF26;
  --fui-color-state-focus: var(--fui-color-blue-800);
  --fui-color-state-hover: #FFFFFF19;
  --fui-color-surface-base: var(--fui-color-neutral-900);
  --fui-color-surface-subdued: var(--fui-color-neutral-1000);
  --fui-color-brand: var(--fui-color-blue-500);
  --fui-color-icon: var(--fui-color-neutral-100);
  --fui-color-button-primary-bg-destructive: var(--fui-color-red-600);
  --fui-color-button-primary-bg-neutral: var(--fui-color-brand);
  --fui-color-button-primary-bg-success: var(--fui-color-green-600);
  --fui-color-foreground-default: var(--fui-color-neutral-100);
  --fui-color-foreground-inverted: var(--fui-color-neutral-900);
  --fui-color-foreground-light: var(--fui-color-neutral-100);
  --fui-color-foreground-opaque: #FFFFFF7F;
  --fui-color-foreground-primary: var(--fui-color-brand);
  --fui-color-foreground-soft: var(--fui-color-neutral-400);
  --fui-color-foreground-softest: var(--fui-color-neutral-500);
}